<h1 class="card text-dark text-center"> Your Email has not been verified. Pls Check Your in box to confirm email</h1>
<p>If You have not received a mail</p>
<a class="text-decoration-none " href="/users/email_verification_resend">
    <button class="btn btn-primary">Resend Mail</button>
</a>